<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <th:block th:each="book : ${books}">
        <h2 th:utext="${book.title}"></h2>
        <h3 th:utext="${book.author}"></h3>
        <p th:utext="${book.summary}"></p>
        <th:block th:each="link : ${book.imageLinks}">
            <div th:switch="${link.contentType.name()}">
                <p th:case="'IMG_PNG'"><img th:src="${link.url}" alt="Flowers in Chania" width="450" height="450"></p>
                <p th:case="'IMG_JPEG'"><img th:src="${link.url}" alt="Flowers in Chania" width="450" height="450"></p>
                <p th:case="*"><a th:href="${link.url}">download</a></p>
            </div>
        </th:block>

        <th:block th:each="link : ${book.downloadLinks}">
            <a th:href="${link.url}">download</a></p>
        </th:block>
        <br>
    </th:block>
</ul>
</body>
</html>